<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cecgw.keystone.dao.UserDao">
	<resultMap id="BaseResultMap"
		type="com.cecgw.keystone.entity.UserEntity">
		<id column="user_id" property="id" jdbcType="VARCHAR" />
		<result column="user_code" property="userCode" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="BIGINT" />
		<result column="tenant_d" property="tenantId" jdbcType="BIGINT" />
		<result column="last_login" property="lastLogin" jdbcType="VARCHAR" />
		<result column="is_login" property="isLogin" jdbcType="INTEGER" />
		<result column="pw_error_count" property="pwErrorCount"
			jdbcType="INTEGER" />
		<result column="login_locked_time" property="loginLockedTime"
			jdbcType="VARCHAR" />
		<result column="theme_flag" property="themeFlag" jdbcType="VARCHAR" />
		<result column="is_enable" property="isEnable" jdbcType="INTEGER" />
		<result column="visible" property="visible" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		user_id, user_code, user_name, user_password, tel, email, description, role_id,
		tenant_id, last_login, is_login, pw_error_count, login_locked_time, theme_flag, is_enable, visible 
	</sql>

	<select id="getAllUsers" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tbl_user
	</select>

	<select id="getUserInfoById" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM tbl_user
		WHERE user_id = #{id}
	</select>

	<insert id="addUser" parameterType="com.cecgw.keystone.entity.UserEntity">
		INSERT INTO
		tbl_user
		(user_id, user_code, user_name, user_password, role_id, tenant_id, is_enable, visible)
		VALUES
		(#{id}, #{userCode}, #{userName}, #{password}, #{roleId}, #{tenantId}, #{idEnable}, #{visible})
	</insert>

	<update id="updateUserInfo" parameterType="com.cecgw.keystone.entity.UserEntity">
		UPDATE
		tbl_user
		SET
		<if test="userCode != null">user_code = #{userCode},</if>
		user_name = #{userName},
		user_password = #{password},
		tel = #{tel},
		email = #{email},
		description = #{description},
		role_id = #{roleId},
		tenant_id = #{tenantId},
		last_login = #{lastLogin},
		is_login = #{isLogin},
		pw_error_count = #{pwErrorCount},
		login_locked_time = #{loginLockedTime},
		theme_flag = #{themeFlag},
		is_enable = #{isEnable},
		visible = #{visible}
		
		WHERE
		user_id = #{id}
	</update>

	<delete id="deleteUserById" parameterType="java.lang.Long">
		DELETE FROM
		tbl_user
		WHERE
		user_id =#{id}
	</delete>
</mapper>